/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1.5;
	font-size: 10px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	background-color: rgba(226, 221, 230, .8);

}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 600;}
/*--------------------*/


@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,800&display=swap');


@font-face{
	font-family: 'Yeseva One';
  src: url(YesevaOne-Regular.ttf);
font-weight: normal;
  font-style: normal;
}

@font-face{
font-family: 'Inter';
  src: url(Inter-VariableFont_slnt,wght.ttf);
	font-weight: normal;
  font-style: normal;
}

body{

	font-family: 'Inter', sans-serif;
	font-family: 'Yeseva One', display;
	/*overflow-y: auto;*/
}

html{
	scroll-behavior: smooth;
}

/*.section{
	position: absolute;
	min-height: 100vh;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	flex-direction: column;
	}*/


	.container{
		/*position: relative;*/
		min-height: 100vh;
		width: 100%;
		/*height: 100%;*/
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		overflow-y: auto;
	}

	.cover{
		margin-bottom: 40px;
	}

	/*.container2{
		position: relative;
		height: 900px;
		top: 0;
		left: 0;
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-end;

		overflow: hidden;
		overflow-y: visible;
		}*/



		.video{

			position: absolute;
			top: 0;
			left: 50%;
			width: 100%;
			height: 100%;
			object-fit: fill;
			filter: blur(3px);
			transform: translate(-50%, 0);
		}



	/*.content{
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;

		}*/

		.title_cover{
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			/*max-width: 550px;*/
			z-index: 1;
			margin: 60px 0 30px;
		}

		.title{
			font-size: 65px;
			color: #43484d;
			font-family: 'Yeseva One', display;
		}

		.subtitle{
			font-size: 20px;
			color: #43484d;
			font-family: 'Inter', sans-serif;
			font-weight: 200;
		}

		.par_cover{
			padding-top: 25px;
			z-index: 1;
		}

		.par{
			font-size: 13px;
			color: #43484d;
			font-family: 'Open Sans', sans-serif;
			font-weight: 500;
			margin: 40px 0;
			max-width: 700px;
		}



		.mov-wrapper{

			margin-left: auto;
			margin-right: auto;
			display: flex;
			/*max-width: 550px;*/
			z-index: 4;
			transition: all .8s cubic-bezier(.17,.67,.83,.67);
		}


		.movie{
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			text-align: center;
			margin: 0 10px;
		/*width: 100px;
		height: 100px;
		border-radius: 50%;
		background: transparent;*/
		font-size: 12px;
		color: #43484d;
		font-family: 'Open Sans', sans-serif;
		font-weight: 800;
		z-index: 3;
		/*background-blend-mode: soft-light;*/
		/*background-color: #f5d1b3;*/
	}

	/*.movie span{
		margin-top: 10px;
		z-index: 3;
		}*/

		.movie svg {
			filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
		}


	/*.vid-box {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		margin-top: 30px;

		}*/

	/*.vid-box video{
		position: relative;
		height: 50vh;
		box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
		outline: none;
		transition: all 0.3s;
		}*/

		.contacts{

			position: fixed;
			top: 20px;
			right: 10px;
			height: 160px;
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			align-items: center;

		}

	/*.par {
		display: flex;
		max-width: 400px;
		flex-direction: column;
		padding: 20px 40px;
		font-size: 14px;
		}*/

	/*#price {
		line-height: .6;
		}*/

/*iframe{
	max-height: 437.69px;
	max-width: 246.15px;
	}*/



	#time{
		font-weight: 200;
	}
	a href{
		cursor: pointer;
	}


::-webkit-scrollbar {
    display: none;
}
