/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 10px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Yeseva+One&display=swap');

@font-face{
	font-family: 'Yeseva One';
  src: url(YesevaOne-Regular.ttf);
font-weight: normal;
  font-style: normal;
}

@font-face{
font-family: 'Inter';
  src: url(Inter-VariableFont_slnt,wght.ttf);
	font-weight: normal;
  font-style: normal;
}

body{
	background: #fff;
	font-family: 'Inter', sans-serif;
	font-family: 'Yeseva One', display;
	overflow: hidden;
}

html{
	scroll-behavior: smooth;
}

.container{
	position: relative;
	min-height: 100vh;
	display: flex;
	justify-content: space-around;
	align-items: flex-end;
	background-color: rgba(226, 221, 230, 8);
	overflow: hidden;
}

.container2{
	position: relative;
	min-height: 100vh;
	display: flex;
	justify-content: space-around;
	align-items: flex-end;
	background-color: rgba(226, 221, 230, 8);
	overflow: hidden;
}



.video{
	position: absolute;
	height: 100%;
	object-fit: cover;
	filter: blur(5px);
}



.content{
	position: relative;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;

}

.title_cover{
	display: flex;
	flex-direction: column;
	max-width: 550px;
	line-height: 1.2;
}

.title{
	font-size: 65px;
	color: #43484d;
	font-family: 'Yeseva One', display;
}

.subtitle{
	font-size: 20px;
	color: #43484d;
	font-family: 'Inter', sans-serif;
	font-weight: 200;
}

.par_cover{
	padding-top: 90px;
}

.par, .par2{
	font-size: 13px;
	color: #43484d;
	font-family: 'Inter', sans-serif;
	font-weight: 500;
	line-height: 1.2;
}

.par2{
	margin-top: 20px;
}

.mov-wrapper{
	position: fixed;
	bottom: 0;
	display: flex;
	max-width: 550px;
	z-index: 4;
}


.movie{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background: transparent;
	font-size: 12px;
	color: #43484d;
	font-family: 'Open Sans', sans-serif;
	font-weight: 800;
	z-index: 3;
}

.movie span{
	margin-top: 10px;
	z-index: 3;
}

.movie svg {
	filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
}


.vid-box {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 500px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 50px;

}

.vid-box video{
	position: relative;
	height: 100%;
	box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
			outline: none;
			transition: all 0.3s;
}

.contacts{
	position: fixed;
	top: 40%;
	right: 10px;
	height: 160px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;

}
