/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
html,body{
	line-height: 1.5;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	background-color: rgba(226, 221, 230, .8);

}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 200;}
/*--------------------*/


@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,800&display=swap');


@font-face{
	font-family: 'Yeseva One';
  src: url(YesevaOne-Regular.ttf);
font-weight: normal;
  font-style: normal;
}

@font-face{
font-family: 'Inter';
  src: url(Inter-VariableFont_slnt,wght.ttf);
	font-weight: normal;
  font-style: normal;
}

body{

	font-family: 'Inter', sans-serif;
	font-family: 'Yeseva One', display;

}

html{
	scroll-behavior: smooth;
}



	.container{
		/*position: relative;*/
		min-height: 100vh;
		width: 100%;
		/*height: 100%;*/
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		overflow-y: auto;
	}

	.cover{
		margin-bottom: 40px;
	}

	

		.video{

			position: absolute;
			top: 0;
			left: 50%;
			width: 100%;
			height: 100%;
			object-fit: fill;
			filter: blur(3px);
			transform: translate(-50%, 0);
		}



		.title_cover{
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			z-index: 1;
			margin: 60px 0 30px;
		}

		.title{
			font-size: 65px;
			color: #43484d;
			font-family: 'Yeseva One', display;
		}

		.subtitle{
			font-size: 20px;
			color: #43484d;
			font-family: 'Inter', sans-serif;
			font-weight: 200;
		}

		.par_cover{
			padding-top: 25px;
			z-index: 1;
		}

		.par{
			font-size: 13px;
			color: #43484d;
			font-family: 'Open Sans', sans-serif;
			font-weight: 500;
			margin: 40px 20px 0;
			max-width: 700px;
		}



		.mov-wrapper{

			margin-left: auto;
			margin-right: auto;
			display: flex;
			z-index: 4;
			transition: all .8s cubic-bezier(.17,.67,.83,.67);
		}


		.movie{
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			text-align: center;
			margin: 0 10px;
			font-size: 12px;
		color: #43484d;
		font-family: 'Open Sans', sans-serif;
		font-weight: 800;
		z-index: 3;
			}

	
		.movie svg {
			filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
		}


		.contacts{

			position: fixed;
			top: 20px;
			right: 10px;
			height: 160px;
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			align-items: center;

		}




	#time{
		font-weight: 200;
	}
	a href{
		cursor: pointer;
	}


::-webkit-scrollbar {
    display: none;
}
